li {
    list-style-type: none;
    margin: 20px;
    padding: 25px 50px;
    border-radius: 20px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.des{
    margin-top: 10px;
}
